body{
    background-color:black; 
    text-align:center;
    
}
.space{
    display:flex;
}
p{
    color:gold;
    margin-right:100px;
    margin-left:70px;
    text-align: justify;
    font-family: 'Lobster Two', cursive;
    word-spacing:7px;
    font-size:17px;
    
    
}
h1{
    
    color:darkkhaki;
        font-family: 'DotGothic16', sans-serif;
}
.menu{
    color:cyan;
    margin-left:50px;
    margin-bottom:300px;
}
